<!--<!DOCTYPE html>-->
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Summarization Authoring UI</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body style="background-color: #ebf5fe;">

<nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Summarise.io</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Create Article <i class="bi bi-plus-square-fill"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

<div class="container" style="padding: 10px; background-color: #ffffff; height: -webkit-fill-available;">
    <form action="">
        <div class="form-floating" style="padding: 15px;">
            <input class="form-control" placeholder="Leave a comment here" id="floatingTextareaTitle" style="height: 50px">
            <label for="floatingTextareaTitle" style="margin-left: 15px; margin-top: 5px;">Title</label>
        </div>
        <div class="form-floating" style="padding: 15px;">
            <input class="form-control" placeholder="Leave a comment here" id="floatingTextareaDescription">
            <label for="floatingTextareaDescription" style="margin-left: 15px; margin-top: 5px;">Description</label>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#DescriptionConfigModal" data-bs-whatever="Description Settings" style="margin-bottom: 5px;"><i class="bi bi-gear-fill"></i></button>
            <button type="button" class="btn btn-primary" style="margin-right: 15px; margin-bottom: 5px;">Generate Description</button>
        </div>

        <div class="form-floating" style="padding: 15px;">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextareaSummary" style="height: 100px"></textarea>
            <label for="floatingTextareaSummary" style="margin-left: 15px; margin-top: 5px;">Summary</label>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#SummaryConfigModal" data-bs-whatever="Summary Settings" style="margin-bottom: 5px;"><i class="bi bi-gear-fill"></i></button>
            <button type="button" class="btn btn-primary" style="margin-right: 15px; margin-bottom: 5px;">Generate Summary</button>
        </div>

        <div class="form-floating" style="padding: 15px;">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextareaBody" style="height: 200px"></textarea>
            <label for="floatingTextareaBody" style="margin-left: 15px; margin-top: 5px;">Body</label>
        </div>

        <button type="submit" class="btn btn-success" style="margin: 15px;">Submit</button>

    </form>

    <div class="modal fade" id="DescriptionConfigModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Description Settings</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <!--                        <div class="mb-3">-->
                        <!--                            <label for="recipient-name" class="col-form-label">Recipient:</label>-->
                        <!--                            <input type="text" class="form-control" id="recipient-name">-->
                        <!--                        </div>-->
                        <!--                        <div class="mb-3">-->
                        <!--                            <label for="message-text" class="col-form-label">Message:</label>-->
                        <!--                            <textarea class="form-control" id="message-text"></textarea>-->
                        <!--                        </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save settings</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SummaryConfigModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Summary Settings</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <!--                        <div class="mb-3">-->
                        <!--                            <label for="recipient-name" class="col-form-label">Recipient:</label>-->
                        <!--                            <input type="text" class="form-control" id="recipient-name">-->
                        <!--                        </div>-->
                        <!--                        <div class="mb-3">-->
                        <!--                            <label for="message-text" class="col-form-label">Message:</label>-->
                        <!--                            <textarea class="form-control" id="message-text"></textarea>-->
                        <!--                        </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save settings</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const exampleModal = document.getElementById('exampleModal')
exampleModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const recipient = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = exampleModal.querySelector('.modal-title')
  const modalBodyInput = exampleModal.querySelector('.modal-body input')

  modalTitle.textContent = `New message to ${recipient}`
  modalBodyInput.value = recipient
})

</script>
</body>


